<h1>Blog Posts</h1>
<ul class="post-list">
{{#each blogPosts}}
  <li>
    <a href="/blog/{{this.slug}}">
      <h3>{{this.title}}</h3>
      <p>{{this.description}}</p>
      <div class="post-meta">
        <span class="post-date">{{ this.createdAt }}</span>
        &middot;
        <span class="post-length">{{ this.length }} min read</span>
      </div>
    </a>
  </li>
{{/each}}
</ul>
